ios/build/
android/.idea/
android/app/build/
node_modules/
yarn.lock
.vscode
.bundle
Pods/
vendor/bundle/
/android
/ios
babel.config.js
README.md
.eslintrc.js
.prettierrc
.watchmanconfig
metro.config.js
package.json